<DOCTYPE Html>
    <html>
    <head>
        <title>Главная страница</title>
    </head>
    
    <body>
    
    <h3>Заголовок</h3>
    <p>Первое представление</p>

    </body>

    </html>
</DOCTYPE>
